body{
	margin:0;
}
h3.heading{
	text-align:center;
	height:2%;
	font-size:1.25rem;
}
h3.subheading{
	text-align:center;
}
.content{
	height:100%;
}
.actions{
	background-color:LightGray;
	padding:2px;
	width:60%;
	margin:auto;
	min-height:50%;
	margin-top:10%;
}
.options{
	height:50%;
	width:100%;
	font-size:12px;
}
.options tr{
	width:25%;
}
.option{
	background-color:white;
	width:100%;
	height:40%;
	border:0.5px black solid;
	border-radius:3px;
}
.commands{
	text-align:center;
}
#shut-down{
	background-color:red;
}
.side-bar{
	background-color:LightGray;
}
.audiofile{
	margin-left:1%;
	margin-top:2%;
	display:block;
	font-size:15px;
}
.audiofile:hover{
	cursor:pointer;
}
.selected{
	font-weight:bold;
}
.back-button{
	float:left;
	text-decoration:none;
	color:black;
	display:block;
	margin: 2% 0 0 2%;
}
#spectrogram-img{
	max-width:92%;
	max-height:92%;
	margin:0 auto;
}

.img-button{
    margin: 10% auto 0 auto;
	height:30%;
	cursor:pointer;
}

.stop-button{
	display:none;
	border: none;
    margin: 0 auto;
    height: 30px;
    width: 70px;
    background-color: darkgrey;
}

#speaker-status{
	display:block;
}
}

