body{

	margin: 0 0 2% 0;

}

.navbar-default{
	border-radius:0px;
}

.content{
	width:70%;
	min-height:30%;
	margin-top:5%;
	box-shadow: 0 0 0 1.25px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
	text-align:center;
	padding-bottom:1%;
}

.content-container > div{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
}

.actions{
	min-height:50%;
}

.actions>.row>.col-sm-4{
	text-align:center;
}
.actions>.row>.col-sm-4>a{
	color:black;
}
.option{
	background-color:white;
	width:80%;
	height:15%;
	border:0.5px black solid;
	border-radius:3px;
}
#detector_status_stop{
	background-color:white;
	width:30%;
	height:5%;
	border:0.5px black solid;
	border-radius:3px;
}
@media (min-width: 768px){
	.side-nav{
		position:fixed;
		top:50px;
		border:none;
		background-color:#f8f8f8;
		border-radius:0;
		height:100%;
		width:15%;
		right:250;
		margin-right:-250;
		overflow-y:hidden;
		border-left:1px #e7e7e7 solid;
	}
	.side-nav>h4{
		text-align:center;
	}
	.side-nav li{
		width:100%;
		font-size:15px;
	}
	.img-button{
		max-width:70%;
   	 	margin:5%;
   	 	cursor:pointer;
	}
}
@media(max-width: 767px){
	.actions>.row>.col-sm-4{
		margin-top:3%;
	}
	.img-button{
		max-width:45%;
   		margin:5%;
   		cursor:pointer;
	}
	.side-nav>h4{
		padding-left:15px;
	}
}

#spectrogram-img{
	max-width:92%;
	max-height:92%;
	margin:0 auto;
}

.stop-button{
	display:none;
	border: none;
    margin: 0 auto;
    height: 30px;
    width: 70px;
    background-color: darkgrey;
}

#speaker-status{
	margin-top:1%;
	display:block;
	text-decoration:none;
	color:black;
}

.audiofile{
	cursor:pointer;
}

.unavailable{
	opacity:0.5;
	pointer-events: none;
}
.unavailable:hover{
	color: #777 !important;
}

.pageControl{
	margin-bottom: 1;
	display:inline-block !important;
}

.selected{
	color:#404040 !important;
}

.center-text{
	text-align:center;
	cursor:pointer;
}

.bottom-of-div{
	position: absolute !important;
    bottom: 7%;
}

.hidden{
	display:none;
}

.navbar-nav>li>a{
	cursor:pointer;
}

.settings{
	text-align:center;
	width:60%;
}

#available-networks{
	width:80%;
	border:0.5px solid black;
	margin:0 auto;
}

#available-networks td, th{
	padding:2%;
}

#available-networks tr:nth-child(odd){
	background-color:rgba(221, 221, 221, 0.17);
}

#available-networks tr td:nth-child(2), th:nth-child(2){
	text-align:center;
}

#available-networks tr td:nth-child(3), th:nth-child(3){
	text-align:right;
}

#available-networks tr a{
	cursor:pointer;
}

#available-networks tr a:hover{
	text-decoration:none;
}

.popup{
		display:none;
		position: absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:1000;
		background: rgba(128,128,128,0.7);
}

.popup > .content{
		margin: 65px auto;
		background-color: #fff;
		border-radius:5px;
		padding: 25px;
		opacity:1;
		width:60%;
}

.popup p{
	display:inline;
	width:auto;
}

.popup .form-control{
	display:inline;
	max-width:60%;
}

.popup .btn{
	margin:5% auto 0% auto;
}

.popup-content{
	padding:2%;
}

.setting-option{
	cursor:default;
}

.setting-option:not(.selected){
	cursor:pointer;
}

.setting-option:hover{
	text-decoration:none;
}

.setting-title{
	font-weight:bold;
	margin:2% 0% 2% 0%;
}

.header-div{
	border-bottom: 1px solid #e9eff3;
	padding: 3% 3% 0 3%;
	position: relative;
	text-align:center;
	display: flex;
	flex-direction: column;
}

.header-div p{
	margin: 0 0 0px;
	font-size:17px;
  display: inline;
}

.header-div > .header-options{
	display:flex;
	width:100%;
	justify-content: space-around;
}

.header-div > .header-options > li > .header-option{
	text-decoration:none;
	cursor:pointer;
	color:black;
}

.header-div > .header-options > li > .header-option{
	text-decoration:none;
	cursor:pointer;
	color:black;
}

.header-div > .header-options > li > .header-option:hover{
	background-color: #d9d9d9;
}

.header-div > .header-options > li > .header-option-active{
	background-color: #eee;
}

#detector_status{

	border-radius:3px;
	box-shadow: 0 0 0 1.25px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;;
	text-align:center;
	margin-top:3%;
	padding:0.5% 2% 1% 2%;
	display:none;
	margin-bottom:7%;

}

#detector_status > h4{
	margin-bottom:6%;
}

#previousPage, #nextPage{
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

}

#batidentification-logo{
	width:20%;
}

.batid-connect > p{
	font-family: Verdana;
}

.batid-connect > button{

	margin-bottom:2%;

}

.disclaimer{

	font-size:9px;

}

.batid-settings{
	display:none;
}

.bat-call:nth-child(odd){
	background-color:#f2f2f2;
}

.bat-call{
	text-align:left;
}

.bat-call > .row{
	display:flex;
}

.bat-call > .row > .col-md-2{
	display:flex;
	align-items: center;
	justify-content: flex-end;
}

.option-link{
	cursor:pointer;
	text-decoration:underline;
	color:black;
}

#latlng label{
	font-size:16px;
}

#latlng .input-group{
	width:100%;
	display:flex;
	align-items: center;
	margin-bottom:2%;
}

#latlng .input-group > input{
	margin:0 auto;
}

#warning-label{
	color:red;
	display:none;
	text-align:center;
}

#success-label{
	color:green;
	display:none;
	text-align:center;
}

#sa_count{
	display:none;
}

#frequency{
	width:30%;
	margin: 0 auto;
}

.frequency-control{
	display:none;
}
